
// ----------------------- MAIN COLORS ----------------------- //

$black: #000;
$white: #fff;

$bg-color: #ffffff;
$text-color: #133e74; 

$kleur1: #e97a25;
$kleur2: #133e74; 
$kleur3: #eaeaea;
$kleur4: #006BA1;


$header-height: 140px;


// ----------------------- SIZES ----------------------- //

$screen-xs-max: 576px;
$screen-sm-max: 768px; 
$screen-md-max: 992px;
$screen-lg-max: 1199px;
$screen-xl-max: 1340px;
$screen-xxl-max: 1790px;

 
// ----------------------- FONTS ----------------------- //

$font: 'Roboto', sans-serif;
$h-font: 'Roboto', sans-serif;


/*@font-face {
  font-family: 'font';
  src: url("../fonts/font.eot");  IE9 Compat Modes 
  src: url('../fonts/font.eot?#iefix') format('embedded-opentype'),  IE6-IE8 
       url('../fonts/font.woff2') format('woff2'),  Super Modern Browsers 
       url('../fonts/font.woff') format('woff'),  Pretty Modern Browsers 
       url('../fonts/font.ttf')  format('truetype');  Safari, Android, iOS 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font';
  src: url("../fonts/font-bold.eot");  IE9 Compat Modes 
  src: url('../fonts/font-bold.eot?#iefix') format('embedded-opentype'),  IE6-IE8 
       url('../fonts/font-bold.woff2') format('woff2'),  Super Modern Browsers 
       url('../fonts/font-bold.woff') format('woff'),  Pretty Modern Browsers 
       url('../fonts/font-bold.ttf')  format('truetype');  Safari, Android, iOS 
 font-weight: bold;
}*/